@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Prosto One;
}

img {
    display: block;
    max-width: 100%;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1300px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

a {
    display: inline-block;
    transition: all .4s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.gallery {
    padding-top: 50px;

    .container {


        .goods {
            position: relative;
            margin-right: auto;
            margin-left: auto;
            width: fit-content;
            padding: 20px 40px;
            padding-top: 60px;
            background-color: #fff;
            border: 2px solid gray;

            .goods_code {
                position: absolute;
                font-size: 16px;
                color: rgba(0, 0, 0, 0.447);
                top: 10px;
                right: 15px;
            }



            .goods_img {
                padding-bottom: 25px;

                img {
                    width: 250px;
                    height: 300px;
                    margin-left: 50px;
                    margin-right: 50px;
                }
            }

            .goods_info {


                .goods_sale {
                    display: flex;

                    span {

                        text-transform: uppercase;
                        font-weight: 600;
                        color: #fff;
                        margin-right: 10px;
                        background-color: rgb(213, 68, 24);
                        padding: 5px 10px;
                        border-radius: 5px;
                        letter-spacing: 2px;
                        font-size: 14px;
                    }
                }

                h1 {
                    margin-top: 15px;
                    margin-bottom: 20px;
                    max-width: 350px;
                    font-weight: 200;
                    font-size: 22px;
                    color: rgba(0, 0, 0, 0.766);
                    cursor: pointer;
                    

                    &:hover {
                        color: #d54418;
                    }
                }

                .goods_response {
                    display: flex;
                    margin-bottom: 15px;

                    .stars {
                        margin-right: 15px;

                        .star {
                            position: relative;

                            display: inline-block;
                            width: 0;
                            height: 0;
                            margin-left: .9em;
                            margin-right: .9em;
                            margin-bottom: 1.2em;
                            border-right: .3em solid transparent;
                            border-bottom: .7em solid #FC0;
                            border-left: .3em solid transparent;
                            font-size: 10px;

                            &::before,
                            &::after {
                                content: '';
                                display: block;
                                width: 0;
                                height: 0;
                                position: absolute;
                                top: .6em;
                                left: -1em;

                                border-right: 1em solid transparent;
                                border-bottom: .7em solid #FC0;
                                border-left: 1em solid transparent;

                                transform: rotate(-35deg);
                            }

                            &::after {
                                transform: rotate(35deg);
                            }
                        }
                    }

                    p {
                        font-size: 18px;
                        color: rgba(0, 0, 0, 0.447);
                        cursor: pointer;
                        transition: all .4s ease-in-out;

                        &:hover {
                            color: rgba(0, 0, 0, 0.76);
                        }
                    }



                }

                .goods_price {

                    span {
                        font-weight: 400;
                        color: rgba(69, 69, 69, 0.74);
                    }

                    .goods_price_main {
                        display: flex;
                        align-items: center;
                        margin-top: 5px;
                        margin-bottom: 5px;

                        p {
                            font-size: 24px;
                            font-weight: 600;
                            letter-spacing: 1px;
                            color: #d54418;
                            margin-right: 15px;

                        }

                        strong {
                            background-color: rgba(255, 204, 0, 0.521);
                            text-align: center;
                            height: 100%;
                            padding: 3px 5px;
                            font-weight: 600;
                            border-radius: 5px;
                            font-size: 18px;
                            opacity: 0.7;

                        }
                    }

                    s {
                        font-weight: 600;
                        border-radius: 5px;
                        font-size: 22px;
                        letter-spacing: 1px;
                        color: rgba(69, 69, 69, 0.74);

                    }
                }


            }

            .goods_buy {
                display: flex;
                align-items: center;
                margin-top: 20px;


                .buy {
                    font-family: Commissioner;
                    font-size: 26px;
                    line-height: 100%;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.04em;
                    text-align: center;
                    color: #ffffff;
                    background: #26b22dbd;
                    padding: 14px 52px;
                    padding-bottom: 20px;
                    width: fit-content;
                    height: fit-content;
                    font-weight: 600;
                    border-radius: 40px;

                    &:hover {
                        background: #d54418;
                    }
                }

                .heart {
                    fill: rgb(120, 120, 120);
                    position: relative;
                    margin-left: 35px;
                    top: 5px;
                    width: 30px;
                    animation: pulse 1s ease infinite;
                    cursor: pointer;

                    &:hover {
                        fill: #d54418;
                    }

                }

                .balance {
                    width: 35px;
                    margin-left: 35px;
                    cursor: pointer;
                    transition: all .5s ease-in-out;

                    &:hover {
                        width: 40px;

                    }


                }


            }

        }

    }
}